# DATA CLEANNING

In [1]:
import pandas as pd
import numpy as np

### Analizamos los datos de accidentes

In [2]:
path_acc_2019 = '/home/dsc/Master DS/TFM/TFM INFO/accidents/2019_Accidentalidad.csv'
path_acc_2020 = '/home/dsc/Master DS/TFM/TFM INFO/accidents/2020_Accidentalidad.csv'
path_acc_2021 = '/home/dsc/Master DS/TFM/TFM INFO/accidents/2021_Accidentalidad.csv'

In [3]:
accidents_2019 = pd.read_csv(path_acc_2019, sep = ';' )
accidents_2020 = pd.read_csv(path_acc_2020, sep = ';' )
accidents_2021 = pd.read_csv(path_acc_2021, sep = ';' )

In [4]:
accidents_2019.columns

Index(['num_expediente', 'fecha', 'hora', 'localizacion', 'numero',
       'cod_distrito', 'distrito', 'tipo_accidente', 'estado_meteorológico',
       'tipo_vehículo', 'tipo_persona', 'rango_edad', 'sexo', 'cod_lesividad',
       'tipo_lesividad', 'coordenada_x_utm', 'coordenada_y_utm',
       'positiva_alcohol', 'positiva_droga'],
      dtype='object')

In [5]:
accidents_2020.columns

Index(['num_expediente', 'fecha', 'hora', 'localizacion', 'numero',
       'cod_distrito', 'distrito', 'tipo_accidente', 'estado_meteorológico',
       'tipo_vehículo', 'tipo_persona', 'rango_edad', 'sexo', 'cod_lesividad',
       'tipo_lesividad', 'coordenada_x_utm', 'coordenada_y_utm',
       'positiva_alcohol', 'positiva_droga'],
      dtype='object')

In [6]:
accidents_2021.columns

Index(['num_expediente', 'fecha', 'hora', 'localizacion', 'numero',
       'cod_distrito', 'distrito', 'tipo_accidente', 'estado_meteorológico',
       'tipo_vehiculo', 'tipo_persona', 'rango_edad', 'sexo', 'cod_lesividad',
       'lesividad', 'coordenada_x_utm', 'coordenada_y_utm', 'positiva_alcohol',
       'positiva_droga'],
      dtype='object')

Vemos que todas la columnas coindicen a excepción de 'tipo_lesividad' en el dataset 'accidents_2021'. Procedemos a cambiar su nombre a fin de facilitar las acciones posteriores.

In [7]:
accidents_2021 = accidents_2021.rename(columns={'lesividad':'tipo_lesividad'})

In [8]:
accidents_2021.columns

Index(['num_expediente', 'fecha', 'hora', 'localizacion', 'numero',
       'cod_distrito', 'distrito', 'tipo_accidente', 'estado_meteorológico',
       'tipo_vehiculo', 'tipo_persona', 'rango_edad', 'sexo', 'cod_lesividad',
       'tipo_lesividad', 'coordenada_x_utm', 'coordenada_y_utm',
       'positiva_alcohol', 'positiva_droga'],
      dtype='object')

Vamos a comprobar el tamaño de la muestra originaria, antes de realizar cualquier acción.

In [9]:
print(accidents_2019.shape)
print(accidents_2020.shape)
print(accidents_2021.shape)

(51811, 19)
(32433, 19)
(41783, 19)

Vamos a comprobar la existencia de Nans en nuestros datasets y en función del resultado nos plantearemos descartar alguna de las variables.

In [10]:
columns_acc_2019 = accidents_2019.columns.str.strip()
columns_acc_2020 = accidents_2020.columns.str.strip()
columns_acc_2021 = accidents_2021.columns.str.strip()

In [11]:
accidents_2019_df = pd . DataFrame (accidents_2019 , columns = columns_acc_2019 )
accidents_2020_df = pd . DataFrame (accidents_2020 , columns = columns_acc_2020 )
accidents_2021_df = pd . DataFrame (accidents_2021 , columns = columns_acc_2021 )

In [12]:
count_nan_2019_acc_df = accidents_2019_df[columns_acc_2019].isna().sum().reset_index()
count_nan_2020_acc_df = accidents_2020_df[columns_acc_2020].isna().sum().reset_index()
count_nan_2021_acc_df = accidents_2021_df[columns_acc_2021].isna().sum().reset_index()

In [13]:
count_nan_acc_df = pd.concat([count_nan_2019_acc_df,count_nan_2020_acc_df,count_nan_2021_acc_df],axis=1,
                             keys=['Nan_2019','Nan_2020','Nan_2021']) 
count_nan_acc_df

                Nan_2019                     Nan_2020         \
                   index      0                 index      0
0         num_expediente      0        num_expediente      0
1                  fecha      0                 fecha      0
2                   hora      0                  hora      0
3           localizacion      0          localizacion      0
4                 numero      0                numero      2
5           cod_distrito      0          cod_distrito      2
6               distrito      0              distrito      2
7         tipo_accidente      0        tipo_accidente      0
8   estado_meteorológico   5130  estado_meteorológico   3196
9          tipo_vehículo    176         tipo_vehículo    137
10          tipo_persona      0          tipo_persona      0
11            rango_edad      0            rango_edad      0
12                  sexo      0                  sexo      0
13         cod_lesividad  21769         cod_lesividad  14802
14        tipo_lesividad  21769        tipo_lesividad  14802
15      coordenada_x_utm      0      coordenada_x_utm      2
16      coordenada_y_utm      0      coordenada_y_utm      2
17      positiva_alcohol    109      positiva_alcohol    102
18        positiva_droga  51649        positiva_droga  32351

                Nan_2021
                   index      0
0         num_expediente      0
1                  fecha      0
2                   hora      0
3           localizacion      0
4                 numero      3
5           cod_distrito      3
6               distrito      3
7         tipo_accidente      4
8   estado_meteorológico   4428
9          tipo_vehiculo     54
10          tipo_persona      3
11            rango_edad      0
12                  sexo      0
13         cod_lesividad  18964
14        tipo_lesividad  18964
15      coordenada_x_utm      9
16      coordenada_y_utm      9
17      positiva_alcohol    167
18        positiva_droga  41694

Por los resultados obtenidos en la ocurrencia de Nans procedemos a descartar las siguientes variables:
    - Estado meteorológico
    - Código de lesividad
    - Lesividad
    - Positividad en drogas

Adicionalmente vamos a eliminar tambien las siguientes variables, ya que no aportan información extrapolable:
    - Localización
    - Número

In [14]:
variables_to_drop = ['estado_meteorológico','cod_lesividad','tipo_lesividad','positiva_droga',
                     'localizacion','numero']

In [15]:
accidents_2019_df_clean = accidents_2019_df.drop(variables_to_drop, axis=1)
accidents_2020_df_clean = accidents_2020_df.drop(variables_to_drop, axis=1)
accidents_2021_df_clean = accidents_2021_df.drop(variables_to_drop, axis=1)

In [16]:
acc_2019 = accidents_2019_df_clean.dropna()
acc_2020 = accidents_2020_df_clean.dropna()
acc_2021 = accidents_2021_df_clean.dropna()

In [17]:
print(accidents_2019.shape)
print(acc_2019.shape)
print(accidents_2020.shape)
print(acc_2020.shape)
print(accidents_2021.shape)
print(acc_2021.shape)

(51811, 19)
(51547, 13)
(32433, 19)
(32207, 13)
(41783, 19)
(41552, 13)

Antes de fusionar los ficheros de siniestralidad, quiero comprobar lo siguiente:
    - nº expediente: Confirmar que el año del expediente coincide con la fecha
        Según la información de la fuente, la estructura del número de expediente atiende a:
        AAAASNNNNNN
            AAAA: año, S: expediente con accidente, NNNNNN: nº correlativo por año
            Puede haber varios expendientes con el mismo numero, uno para cada afectado
    - categorias de:
        - Tipo de accidente
        - Tipo de vehiculo
        - Tipo de persona
        - Rango de edad
        - Sexo
        - Positivo en alcohol

In [18]:
import datetime

In [19]:
acc_2019['year_date'] = pd.DatetimeIndex(acc_2019['fecha']).year.astype(int)
acc_2019['year_exp'] = acc_2019['num_expediente'].str[:4].astype(int)
acc_2019['year_equal_cond'] =acc_2019['year_exp']-(acc_2019['year_date'])
acc_2019.groupby('year_equal_cond')['num_expediente'].count().reset_index()

/tmp/ipykernel_4855/2218043062.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  acc_2019['year_date'] = pd.DatetimeIndex(acc_2019['fecha']).year.astype(int)
/tmp/ipykernel_4855/2218043062.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  acc_2019['year_exp'] = acc_2019['num_expediente'].str[:4].astype(int)
/tmp/ipykernel_4855/2218043062.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  acc_2019['year_equal_cond'] =acc_2019['year_exp']-(acc_2019['year_date'])

   year_equal_cond  num_expediente
0               -1               2
1                0           51545

In [ ]:
# accidents_2019_df_clean['year_equal'] =accidents_2019_df_clean['year_exp'].equals(accidents_2019_df_clean['year_date'])
# accidents_2019_df_clean.head()

In [20]:
acc_2020['year_date'] = pd.DatetimeIndex(acc_2020['fecha']).year.astype(int)
acc_2020['year_exp'] = acc_2020['num_expediente'].str[:4].astype(int)
acc_2020['year_equal_cond'] =acc_2020['year_exp']-(acc_2020['year_date'])
acc_2020.groupby('year_equal_cond')['num_expediente'].count().reset_index()

/tmp/ipykernel_4855/1015613943.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  acc_2020['year_date'] = pd.DatetimeIndex(acc_2020['fecha']).year.astype(int)
/tmp/ipykernel_4855/1015613943.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  acc_2020['year_exp'] = acc_2020['num_expediente'].str[:4].astype(int)
/tmp/ipykernel_4855/1015613943.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  acc_2020['year_equal_cond'] =acc_2020['year_exp']-(acc_2020['year_date'])

   year_equal_cond  num_expediente
0               -1               2
1                0           32205

In [21]:
acc_2021['year_date'] = pd.DatetimeIndex(acc_2021['fecha']).year.astype(int)
acc_2021['year_exp'] = acc_2021['num_expediente'].str[:4].astype(int)
acc_2021['year_equal_cond'] =acc_2021['year_exp']-(acc_2021['year_date'])
acc_2021.groupby('year_equal_cond')['num_expediente'].count().reset_index()

/tmp/ipykernel_4855/2576626057.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  acc_2021['year_date'] = pd.DatetimeIndex(acc_2021['fecha']).year.astype(int)
/tmp/ipykernel_4855/2576626057.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  acc_2021['year_exp'] = acc_2021['num_expediente'].str[:4].astype(int)
/tmp/ipykernel_4855/2576626057.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  acc_2021['year_equal_cond'] =acc_2021['year_exp']-(acc_2021['year_date'])

   year_equal_cond  num_expediente
0               -1               5
1                0           41547

Eliminamos las filas donde no coindicen ambos años
Posteriormente, eliminaremos la columna de 'year expediente' y el de la condición

In [25]:
indexNames = acc_2019[ acc_2019['year_equal_cond'] == -1 ].index

In [26]:
acc_2019.drop(indexNames,inplace=True)

In [27]:
acc_2019.drop(['year_equal_cond','year_exp'],axis=1,inplace=True)

In [33]:
cond_year_2020 = acc_2020[acc_2020['year_equal_cond']==-1].index
acc_2020.drop(indexNames,inplace=True)
acc_2020.drop(['year_equal_cond','year_exp'],axis=1,inplace=True)

KeyError: 'year_equal_cond'

In [32]:
acc_2020.shape

(32205, 14)

In [ ]:
accidents_2019_df_clean['is_equal_year'] =

In [ ]:
accidents_2019_df_clean.head()

In [ ]:
accidents_2019_df_clean['year_date'] = accidents_2019_df_clean['Joined date'].dt.strftime('%Y')

In [ ]:
arrrridents_2019_df_clean.rr

In [ ]:
var_analize = ['tipo_accidente', 'tipo_vehículo', 'tipo_persona', 'rango_edad',
               'sexo','positiva_alcohol']

In [ ]:
accidents_2019_df_clean['tipo_accidente'].unique()

Una vez que ya hemos comprobado que las categorias de ambos ficheros son las mismas para dichas variables, procedemos a fusionarlos en un únique dataset:

In [ ]:
measure_points['distrito'].unique()

In [ ]:
accidents_2019_df_clean.columns

In [ ]:
accidents_2020_df[('distrito')].unique()

In [ ]:
measure_points=pd.read_csv('/home/dsc/Master DS/TFM/TFM INFO/measure points/pmed_ubicacion_12-2021.csv', sep = ';' )

In [ ]:
measure_points.head()

In [ ]:
accidents_2019_df_clean.shape

In [ ]:
accidents_2020_df['contador'] = 1
accidents_2021_df['contador'] = 1

In [ ]:
accidents_2020_df.isnull().sum()

In [ ]:
accidents_2021_df.isnull().sum()

Data cleaning
(datos a eliminar de las muestras para aligerar el peso del archivo)

Analizando los valores Nan contenidos en las muestras, vemos que las features 'codigo lesividad', 'tipo lesividad' y 'positivo droga' no son extrapolables

Las features de 'localizacion' y 'numero' tampoco serán utilizables, al ser datos que no pueden ser cruzados

Localizaciones:

Opción 1:
Ubicacion de los distritos

In [ ]:
accidents_2020_df[('distrito')]['contador'].sum()

Opción 2:
coordenada_x_utm , coordenada_y_utm

In [ ]:
from rdflib import Graph

In [ ]:


g = Graph()
g.parse("/home/dsc/Master DS/TFM/datos accidentes/300228-0-accidentes-trafico-detalle.dcat")

print(len(g))
# prints: 2

import pprint
for stmt in g:
    pprint.pprint(stmt)